.login {
    .van-field__label {
        font-size: 14px;
    }

    .van-cell {
        padding: 0px;
        border: none !important;
    }

    .van-field {
        border: none !important;
    }

}